vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|20 Apr 2004 22:34:03 -0000
vti_extenderversion:SR|4.0.2.7802
vti_filesize:IR|370
vti_backlinkinfo:VX|autopinningwnd.htm gettingstarted.htm knownissues.htm uninstall.htm pinmode.htm history.htm optionsdlg.htm using.htm editruledlg.htm opthotkeys.htm supportcontact.htm welcome.htm langpacks.htm more.htm traymenu.htm whatsnew.htm hotkeys.htm legal.htm optautopin.htm optlang.htm optpins.htm
vti_nexttolasttimemodified:TR|20 Apr 2004 22:32:58 -0000
vti_author:SR|Elias
vti_timecreated:TR|22 Apr 2003 12:57:37 -0000
vti_modifiedby:SR|Elias
vti_cacheddtm:TX|20 Apr 2004 22:34:03 -0000
vti_cachedlinkinfo:VX|
vti_cachedsvcrellinks:VX|
