vti_encoding:SR|utf8-nl
vti_textextensions:SX|.txt.
vti_webservertype:SR|diskweb
vti_restartmanual:IX|0
vti_defaultlanguage:SR|en-us
vti_timecreated:TR|19 Apr 2003 09:45:36 -0000
vti_oldestcompatibleversion:SR|2.0.0.0
vti_casesensitiveurls:IX|0
vti_ignorekeyboard:IR|0
vti_navbuttonnextlabel:SR|Next
vti_textindexood:IR|0
vti_extenderversion:SR|4.0.2.5322
vti_navbuttonprevlabel:SR|Back
vti_longfilenames:IX|1
vti_disableautoimgsizeexts:SX|.asp
vti_publishmetainfokeys:VR|vti_assignedto vti_approvallevel vti_categories vti_description
vti_htmlextensions:SX|.htm.html.shtml.shtm.stm.htt.htx.asp.alx.asa.
vti_dependenciesood:IR|0
vti_approvallevels:VR|Content\\ Review Legal\\ Review Code\\ Review Manager\\ Review
vti_welcomenames:VX|index.htm index.html default.htm default.html welcome.htm welcome.html home.htm home.html
vti_hassearchbot:BR|false
vti_navbuttonhomelabel:SR|Home
vti_featurelist:VX|vti_ACAll vti_ServiceMarkUrlDirBrowse vti_ServiceMarkUrlDirExec vti_ServiceMarkUrlDirScript vti_ACIPAddresses vti_ServerEmailTransport vti_ServerIndexServer vti_ServerASP vti_ServerCollab vti_TimedDocEvents
vti_categories:VR|Travel Expense\\ Report Business Competition Goals/Objectives Ideas Miscellaneous Waiting VIP In\\ Process Planning Schedule
vti_insecureserverurl:SR|file://
vti_httpdversion:SX|FrontPage DBW
vti_navbuttonuplabel:SR|Up
vti_defaultcharset:SR|windows-1253
vti_autorecalc:IX|1
