vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|20 Apr 2004 22:34:03 -0000
vti_extenderversion:SR|5.0.2.6417
vti_backlinkinfo:VX|welcome.htm hotkeys.htm editruledlg.htm more.htm whatsnew.htm optpins.htm knownissues\\ 2.htm autopinningwnd.htm uninstall.htm history.htm optionsdlg.htm using.htm langpacks.htm traymenu.htm optlang.htm knownissues\\ 1.htm gettingstarted.htm knownissues.htm opthotkeys.htm supportcontact.htm legal.htm pinmode.htm optautopin.htm
vti_nexttolasttimemodified:TR|15 Dec 2003 11:57:36 -0000
vti_author:SR|Elias
vti_timecreated:TR|22 Apr 2003 12:57:37 -0000
vti_modifiedby:SR|EFXP\\Elias
vti_cacheddtm:TX|20 Apr 2004 22:34:03 -0000
vti_filesize:IR|370
vti_lineageid:SR|{B3C909CB-78DB-4991-A7F3-F8A082077B0E}
