body {
 font: 80% Arial;
 background-color: white;
 color: black;
}
td {
 font: 80% Arial;
}

h1 {
 background-color: #def;
 color: #048;
 font-size: 1.75em;
 text-align: center;
 border: 1px solid #9cf;
}
h2 {
 color: #48c;
 font-size: 1.5em;
 border-bottom: 2px dotted #def;
}
h3 {
 color: #048;
 font-size: 1.2em;
}
a:hover {
 color: red;
}